
/* Allgemein */

body {
	font-size: 14px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background: #ffffff;
}



/* Haupt-Titel */

.titelbox {
	text-align:center;
	background-color: #efefef;
	padding: 10px 0px 10px 0px;	/* oben rechts unten links*/
	border-bottom-style: solid;
	border-top-style: solid;
	border-color: #3d5166;
	border-top-width: 2px;
	border-bottom-width: 2px;
	z-index: 20;
}



/* Hauptteil */

.inhalt {
	margin: 0;
	z-index: 1;
}



/* Linker Abschnitt */

.rahmen_links {
	margin: 0;
	padding: 10px;
	background-color: #efefef;
	z-index: 10;
}



/* menu eintraege */

#menuinhalt ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menuinhalt li {
	margin: 0;
	padding: 0;
}

#menuinhalt a {
	margin: 0;
	display: block;
	text-decoration: none;
	padding: 3px 4px 3px 4px;
	color: black;
}

#menuinhalt a:hover {
	background-color: #cdcfd3;
	color: black;
}

#menuinhalt a:active,#active {
	background-color: #cdcfd3;
	color: black;
}



/* Boxen */

.b_menu_titel {
	font-weight: bold;
	background-color: #7195ba;
	border-style: solid;
	border-color: #3d5166;
	border-width: 1px;
	padding: 3px;
	margin: 0;
}

.b_menu_inhalt {
	background-color: #fafafa;
	border-style: solid;
	border-top-style: none;
	border-color: #3d5166;
	border-width: 1px;
	padding: 3px;
	margin: 0;
}

.b_100_titel {
	font-weight: bold;
	background-color: #7195ba;
	border-style: solid;
	border-bottom-style: none;
	border-color: #3d5166;
	border-width: 1px;
	z-index: 30;
	padding: 3px;
	margin: 0px 10px 0px 10px;
}

.b_100_inhalt {
	background-color: #fafafa;
	border-style: solid;
	border-color: #3d5166;
	border-width: 1px;
	z-index: 30;
	padding: 3px;
	margin: 0px 10px 0px 10px;
}

.bc_100_inhalt {
	text-align:center;
	background-color: #fafafa;
	border-style: solid;
	border-color: #3d5166;
	border-width: 1px;
	z-index: 30;
	padding: 3px;
	margin: 0px 10px 0px 10px;
}

.gr_center {
	text-align:center;
	background-color: #fafafa;
	z-index: 30;
	padding: 3px;
	margin: 0px 10px 0px 10px;
}


.copyright {
	font-size: 12px;
	border-style: none;
	border-top-style: solid;
	border-color: #3d5166;
	border-width: 1px;
	text-align: center;
	z-index: 30;
	margin: 20px 10px 0px 10px;
}
